<div class="content-split">
  <div class="content-left">
    <h2>Rekening</h2>
    <div class="account">
      <h3>Basisrekening</h3>
      <p class="bankdetails">123.154.56.123</p>
      <p class="account-total">€ 120,34</p>
    </div>
  </div>
  <div class="content-right">
    <h2>Transacties</h2>
    <div class="transaction-details">
      <div class="transaction add">
        <p class="transaction-name">J. Huting</p>
        <p class="transaction-date">12-05-2015</p>
        <div class="transaction-action">
          <p>Bij</p>
        </div>
        <p class="transaction-amount">€ 700,00</p>
      </div>
      <div class="transaction subtract">
        <p class="transaction-name">K. Janssen</p>
        <p class="transaction-date">06-04-2015</p>
        <div class="transaction-action">
          <p>Af</p>
        </div>
        <p class="transaction-amount">€ 12,00</p>
      </div>
      <div class="transaction add">
        <p class="transaction-name">P. Peters</p>
        <p class="transaction-date">02-04-2015</p>
        <div class="transaction-action">
          <p>Bij</p>
        </div>
        <p class="transaction-amount">€ 113,00</p>
      </div>
      <div class="transaction add">
        <p class="transaction-name">L. Aalbers</p>
        <p class="transaction-date">02-04-2015</p>
        <div class="transaction-action">
          <p>Bij</p>
        </div>
        <p class="transaction-amount">€ 1.143,50</p>
      </div>
      <div class="transaction add">
        <p class="transaction-name">H. Jackson</p>
        <p class="transaction-date">12-03-2015</p>
        <div class="transaction-action">
          <p>Bij</p>
        </div>
        <p class="transaction-amount">€ 88,00</p>
      </div>
           <div class="transaction add">
        <p class="transaction-name">J. Huting</p>
        <p class="transaction-date">12-05-2015</p>
        <div class="transaction-action">
          <p>Bij</p>
        </div>
        <p class="transaction-amount">€ 700,00</p>
      </div>
      <div class="transaction subtract">
        <p class="transaction-name">K. Janssen</p>
        <p class="transaction-date">06-04-2015</p>
        <div class="transaction-action">
          <p>Af</p>
        </div>
        <p class="transaction-amount">€ 12,00</p>
      </div>
      <div class="transaction add">
        <p class="transaction-name">P. Peters</p>
        <p class="transaction-date">02-04-2015</p>
        <div class="transaction-action">
          <p>Bij</p>
        </div>
        <p class="transaction-amount">€ 113,00</p>
      </div>
      <div class="transaction add">
        <p class="transaction-name">L. Aalbers</p>
        <p class="transaction-date">02-04-2015</p>
        <div class="transaction-action">
          <p>Bij</p>
        </div>
        <p class="transaction-amount">€ 1.143,50</p>
      </div>
      <div class="transaction add">
        <p class="transaction-name">H. Jackson</p>
        <p class="transaction-date">12-03-2015</p>
        <div class="transaction-action">
          <p>Bij</p>
        </div>
        <p class="transaction-amount">€ 88,00</p>
      </div>
    </div>
  </div>
</div>
