<div class='main-layout'>
  <div class='header'>
    <img  src='assets/img/bza-logo.png' class='header-logo'>
    <h1>Wijzer in bankzaken</h1>
    <ul class='navigation'>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/overzicht">Overzicht</a></li>
      <li><a routerLink="/betalen">Betalen</a></li>
    </ul>
    <div class='header-image-position'>
      <img src='assets/img/bza-header-01.jpg' class='header-image'>test
    </div>
  </div>
  <div class='content'>
  <router-outlet></router-outlet>
   </div>
 </div>
