<div class="content-split">
  <div class="content-left">
    <h2>Betalen</h2>
    <div class="account">
      <h3>Basisrekening</h3>
      <p class="bankdetails">123.154.56.123</p>
      <p class="account-total">€ 120,34</p>
    </div>
  </div>
  <div class="content-right">
    <h2>Betaalopdracht</h2>
    <div class="payment-details">
      <p>Bedrag</p><input type="text" name="payment-amount">
      <p>Spoed</p><input type="checkbox" name="payment-rush">
      <p>Van rekening</p><select></select>
      <p>Uitvoerdatum</p><input type="date" name="payment-date">
      <p>Naar rekeningnummer</p><input type="text" name="payment-account-to">
      <p>Ten name van</p><input type="text" name="payment-name-to">
      <div class="button-group"> 
        <button>Verstuur</button>
      </div>
    </div>
  </div>
</div>
