<div class="content-split">
  <div class="content-left">
    <h2>Eigen gegevens</h2>
    <div class="account">
      <h3>Basisrekening</h3>
      <p class="bankdetails">123.154.56.123</p>
    </div>
  </div>
  <div class="content-right">
    <h2>Rekening Gegevens</h2>
    <div class="user-details">
      <p>Voorletters</p><input type="text" name="user-initial">
      <p>Achternaam</p><input type="text" name="user-familyname">
      <p>Email</p><input type="text" name="user-email">
      <p>Straat + nr.</p><input type="text" name="user-street" class="three-fourth"> <input type="text" name="user-housenumber" class="one-fourth">
      <p>Plaats</p><input type="text" name="user-place">
      <p>Postcode</p><input type="text" name="user-zipcode">
      <p>Telefoon</p><input type="text" name="user-phone">
      <div class="button-group"> 
        <button>Verstuur</button>
      </div>
    </div>
  </div>
</div>
